<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free movie catalogue for you">
  <link rel="icon" href="./favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  
  <meta name="theme-color" content="#DB0000"/>
  <link rel="apple-touch-icon" href="./apple-touch-icon.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
 
  <title>Wolf Restoran</title>
</head>
<body>
  <a href="#mainContent" class="skip-link">Skip to main content</a>

    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>Wolf Restoran</h1>
      </div>

      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
            <li><a href="#/home">Home</a></li>
            <li><a href="#/favorite">Favorite</a></li>
            <li><a href="https://www.tiktok.com/@user3187184888903?_t=8m0h4kq7iMx&_r=1">About Us</a></li>
        </ul>
      </nav>

      
    </header>

    <div class="slides">
      <div class="slide">
        <img src="./images/heros/hero-image_1.jpg" alt="Hero Image 1">
      </div>
      <div class="slide">
        <img src="./images/heros/hero-image_2.jpg" alt="Hero Image 2">
      </div>
      <div class="slide">
        <img src="./images/heros/hero-image_3.jpg" alt="Hero Image 3">
      </div>
      <div class="slide">
        <img src="./images/heros/hero-image_4.jpg" alt="Hero Image 4">
      </div>
      <div class="navigation">
        <a class="prev">&#10094;</a>
        <a class="next">&#10095;</a>
      </div>
    </div>

      <section id="content" tabindex="0">
        <main id="mainContent" tabindex="0"></main>
      </section>
    
      <footer>
      <p>Pilih dan Lihat Resto Yang Ingin Anda Kunjungi</p>
    </footer>
  </body>
  </html>
</html>